@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.pokemon-title {
    font-family: 'Pokemon Solid', cursive;
    font-size: 4em;
    color: #FFCC00;
    text-shadow: 
        -3px 3px 0 #003A70,  
        3px 3px 0 #003A70,
        -3px -3px 0 #003A70,
        3px -3px 0 #003A70,
        -6px 6px 0 #003A70,
        6px 6px 0 #003A70,
        -6px -6px 0 #003A70,
        6px -6px 0 #003A70,
        -9px 9px 0 #003A70,
        9px 9px 0 #003A70,
        -9px -9px 0 #003A70,
        9px -9px 0 #003A70;
    text-align: center;
    margin-top: 20vh;
    position: relative;
    transform: rotate(-5deg);
}
